@import './tree.css';

html{
    scroll-behavior: smooth;
    
}
.cabecalho{
    background-image: url(../img/bg_cabecalho.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover ;
}
.migalhas{
    height: 40px;
}
.azulSesap{
    background-color: #0080c7;
}
.sombra{
    box-shadow:inset 3px 0px 20px 5px rgba(0, 0, 0, 0.3);
}
.w100{
    width: 100%;
}
.h100{
    height: 100%;
}
.conteudo{
    min-height: 70vh;
}
.tree{
    margin: 0 auto;
}
.treeContainer{
    overflow-x: auto;
    height: 40vh;
}

@media (max-width: 769px) { 
    .cabecalho{
        background-image: none;
    }
    .tree{
    
        min-width: 760px;
        margin: 0 auto;
    }
 }